<app-users (userSelected)="userSelected=$event"></app-users>

<h1>Ma liste de tâche</h1>

<div class="todos" *ngIf="userSelected.nom">
    <h2>Tâche de {{userSelected.prenom}} {{userSelected.nom}}</h2>
    <div class="form-add-todo">
        
       
        <label for="catSelected">Nouvelle tâche : </label>
        <input  type="text" [(ngModel)]="toCreate.text" >
        <label for="catSelected">Sa catégorie: </label>
        <input type="text" [(ngModel)]="toCreate.cat">
        <button (click)="createTodo()">Enregistrer</button>
    </div>
    <app-cat (catSelected)="catSelected=$event"></app-cat>
    
</div>

<div  class="todos" >
    <h2>A Faire</h2>
    <div *ngFor="let todo of todos$ |async">
      
            <div class="todo" *ngIf='!todo.done 
            && (((todo.cat==catSelected.intitule) || catSelected.intitule=="toutes")
           &&(userSelected.id == todo.userId) || todo.isEditable)
            '>
                <h3
                  *ngIf="!todo.isEditable "
                  [class.done]="todo.done">
                  {{ todo.text }} ({{todo.cat}})
                </h3>
                <input
                  *ngIf="todo.isEditable"
                  type="text"
                  [(ngModel)]="todo.text">  
                  <input
                  *ngIf="todo.isEditable"
                  type="text"
                  [(ngModel)]="todo.cat">  
                <div class="buttons">
                  <button
                    class="bt-check"
                    (click)="editTodo(todo)">
                    {{ todo.isEditable? '✔︎' : '✎' }}
                  </button>
                  <button
                    class="bt-check"
                    (click)="changeStateOfTodo(todo)">
                    {{ todo.done? '✖︎' : '✔︎' }}
                  </button>
                  <button 
                    class="bt-close" 
                    (click)="onDelete(todo)">
                    Supprimer</button>
                 </div>
            </div>
        </div>
    </div>

<div  class="todos">
    <h2>Fait</h2>
    <div *ngFor="let todo of todos$ |async">
        <div class="todo" *ngIf='todo.done 
        && (((todo.cat==catSelected.intitule) || catSelected.intitule=="toutes")
           &&(userSelected.id == todo.userId) || todo.isEditable)
            '>
            <h3
              *ngIf="!todo.isEditable"
              [class.done]="todo.done">
              {{ todo.text }} ({{todo.cat}})
            </h3>
            <input
              *ngIf="todo.isEditable"
              type="text"
              [(ngModel)]="todo.text">  
              <input
              *ngIf="todo.isEditable"
              type="text"
              [(ngModel)]="todo.cat">  

            <div class="buttons">
              <button
                class="bt-check"
                (click)="editTodo(todo)">
                {{ todo.isEditable? '✔︎' : '✎' }}
              </button>
              <button
                class="bt-check"
                (click)="changeStateOfTodo(todo)">
                {{ todo.done? '✖︎' : '✔︎' }}
              </button>
              <button 
                class="bt-close" 
                (click)="onDelete(todo)">
                Supprimer</button>
             </div>
        </div>
    </div>
</div>


<router-outlet></router-outlet>